*
{
    padding: 0;
    margin: 0;;
}
h3{
    text-decoration-color: black;
    font-family: 'Times New Roman', Times, serif;
}

p{
    padding: 2px;
    margin: 2px;
}

footer{
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}