<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li><a href="../views/index.html">Home</a></li>
                    <li><a href="../views/about.html">About</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
    <main>
        <h1>My Gallery</h1></main>
        <section class="section1">
            <h3>Available Images</h3>
            <div class="gallery">
                <div class="box1">
                    <img src="../images/1684433833666.jpg" alt="">
                    <img src="../images/1684433833666.jpg" alt="">
                    <img src="../images/1684433833666.jpg" alt="">
                    <img src="../images/1684433833666.jpg" alt="">
                </div>
            </div>
        </section>

    
</body>
<b><footer>&copy;2024 Longse Bunshakka Gurama</footer></b>
</html>